#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "dont-code"
name = "Dont-code Services"
description.en = "Install services and databases needed to support Dont-code platform"
description.fr = "Installe les services et base de données nécessaires pour utiliser la plateforme Dont-code"

version = "0.3.1~ynh5"

maintainers = ["Dont-code Team"]

[upstream]
license = "AGPL-3.0-or-later"
website = "https://dont-code.net"
demo = "https://dont-code.net/apps.html"
admindoc = "https://dont-code.net/developers.html"
userdoc = "https://dont-code.net/news.html"
code = "https://github.com/dont-code"

[integration]
yunohost = ">= 11.0.0"
architectures = "all"
multi_instance = true
ldap = false
sso = false
disk = "50M"
ram.build = "400M"
ram.runtime = "400M"

[install]
    [install.domain]
    # this is a generic question - ask strings are automatically handled by Yunohost's core
    type = "domain"

    [install.path]
    # this is a generic question - ask strings are automatically handled by Yunohost's core
    type = "path"
    default = "/dont-code"

    [install.tenant]
    ask.en = "The name of the tenant these services will support. This configures database name to use. Can be empty if non necessary."
    ask.fr = "Le nom du tenant associé a ces services. Permet de configurer une base de donnée séparée. Peut-être vide si non nécessaire."
    type = "string"
    optional = true

    [install.public_key]
    ask.en = "SSH Public key to allow service updates as part of delivery process, leave empty to disable."
    ask.fr = "Clef publique SSH permettant la mise à jour des services via une deploiement automatique, inactif si non renseigné."
    type = "string"
    optional = true

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.sources.main]
    url = "https://github.com/dont-code/release/releases/download/v0.3.1/dont-code-release-runners.zip"
    sha256 = "b69361f5383c904e30d551efd7a64cc155459af6a25e32fd5ca41633bcfb3658"
    in_subdir = false
    autoupdate.strategy = "latest_github_release"
    autoupdate.asset = "dont-code-release-runners.zip"
    autoupdate.upstream = "https://github.com/dont-code/release"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    subdirs = ["docs"]
    owner = "__APP__:rwx"
    group = "www-data:rwx"

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    preview.default = 8081
    ide.default = 8082
    project.default = 8083
    data.default = 8084

    [resources.apt]
    packages = [
        "openjdk-17-jre",
    ]
